/*universal*/
:root {
    --black: #1C262A;
    --darkblue: #264048;
    --lightblue: #68a3b6;
    --darkorange: #CA6F00;
    --lightorange: #FFA20D;
    --white: #FFF7ED;
    --grey: #344044;
    --toppadding: 8vw;
    --sidepadding: 4vw;
    --smallpadding: 2vw;
    --gap: 1vw;
    --dropshadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    --border-radius: 15px
}

h1, 
h2,
h3 {
    text-align: center;
    font-weight: 700;
    color: var(--white);
}

h1 {
    font-size: clamp(24px, 8vw, 64px);
    padding: 0 var(--sidepadding);
    color: var(--black);
}

h2 {
    font-size: clamp(20px, 5vw, 48px);
    margin: 0;
}

h3 {
    font-size: clamp(18px, 2vw, 36px);
    color: var(--white);
    margin-bottom: 0;
}

p,
a,
input,
button,
textarea,
li {
    font-size: clamp(16px, 2vw, 36px);
    font-weight: 500;
    color: var(--white);
    margin: 0;
}

a {
    text-decoration: none;
}

.small-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--darkorange);
    text-decoration-thickness: 3px;
    text-underline-offset: 20px;
}

.small-link:hover:first-line {
    text-decoration-color: var(--darkorange);
}

button,
.button {
    text-decoration: none;
    background-color: var(--darkorange);
    color: var(--white);
    display: flex;
    padding: 15px 7vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: var(--dropshadow);
    width: fit-content;
    transition: 1s;
    border: none;
}

.button:hover,
button:hover {
    background-color: var(--lightorange);
}

#btn {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Exo", sans-serif;
}

#body-index { background-image: url(fotos/background-main.png); }
#body-ydelser { background-image: url(fotos/background-ydelser.png); }
#body-luft { background-image: url(fotos/background-luft-til-luft.png); }
#body-pris { background-image: url(fotos/background-priser.png); }
#body-om-mig { background-image: url(fotos/background-priser.png); }
#body-kontakt { margin: 0;}

/* padding */
.hero,
.om-mig,
.mine-ydelser,
.luftpumpe,
.anmeldesler,
.kontaktsection,
.ydelser-page-text,
.fokusområde,
.mine-priser,
.om-mig-page,
.kontaktsectionpage,
.calendarpadding {
    padding: var(--toppadding) var(--sidepadding) 0 var(--sidepadding);
    gap: var(--sidepadding);
}

.ydelser-page {
    padding: var(--toppadding) 0 0;
}


#page-top {
    margin-top: 14vh;
}

/*header*/
header {
    height: 20vh;
    padding: 0 var(--toppadding) 0 var(--sidepadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--grey);
    transition: height 1s;
    z-index: 5;
}

#logo img {
    height: 15vh;
    transition: 1s;
}

#navbar {
    display: flex;
    align-items: center;
    gap: var(--sidepadding);
    height: 20vh;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--lightorange);
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
}

.nav-link:hover:first-line {
    text-decoration: underline;
    text-decoration-color: var(--lightblue);
    text-decoration-thickness: 3px;
}

#dropdown-menu {
    display: none; 
    position: relative;
}

.dropdown-content {
    display: none;
}

.nav-dropdown-link {
    padding: var(--gap) var(--smallpadding);
    color: var(--white);
    text-decoration: none;
}

.nav-dropdown-link:hover {
    background-color: var(--lightblue);
}

/*pop up*/
.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 24%;
    top: 10%;
    background-color: var(--white);
    border: 5px solid var(--darkorange);
    border-radius: 25px;
    z-index: 100;
    width: 50%;
    padding: var(--smallpadding);
    gap: 30px;
}

.popup h2,
.popup h3,
.popup p,
.popup a {
    color: var(--black);
    text-align: center;
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-close-btn {
    width: 50px;
    height: 50px;
}

.popup-close-btn img {
    width: 100%;
}

#white-logo {
    height: 15vh;
}

/*hero*/
.hero{
    background-image: url(fotos/desktop-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*om mig*/
.om-mig,
.om-mig-page {
    display: flex;
    flex-direction: column;
}

.under-om-mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--smallpadding);
    grid-template-rows: 1fr 1fr;
}
.om-mig-text {
    grid-column: 2/3;
    grid-row: 1/3;
}
.om-mig-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.om-mig-2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.om-mig-1,
.om-mig-2 {
    border-radius: var(--border-radius);
    box-shadow: var(--dropshadow);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;    
}

/*ydelser*/
.mine-ydelser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ydelser {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    gap: var(--sidepadding);
}

.ydelser-card {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: var(--border-radius);
    box-shadow: var(--dropshadow);
    width: 30%;
}

.ydelser-pictures {
    height: auto;
    border-radius: 15px;
}

.ydelser-text {
    display: flex;
    padding: var(--smallpadding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.ydelser-text p {
    margin: 0;
}

.ydelser-card:hover {
    scale: 1.04;
    transition: 0.5s;
}
.ydelser-card:not(:hover) {
    scale: 1;
    transition: 0.5s;
}

span {
    color: var(--lightorange);
}

.service-cards {
    display: flex;
    gap: var(--smallpadding);
    align-items: center;
}

#work-image {
    box-shadow: var(--dropshadow);
    width: 50%;
    height: auto;
    border-radius: var(--border-radius);
}

/*luftpumpe*/
.luftpumpe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.luftpumpe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.luftpumpe-content {
    display: flex;
    gap: var(--smallpadding);
    align-items: center;
}

.luftpumpe-text,
#luftpumpe-img {
    width: 50%;
}

#luftpumpe-text {
    text-align: start;
}

#luftpumpe-img img {
    box-shadow: var(--dropshadow);
    width: 50%;
}

#luftpumpe-main {
    text-align: center;
}

/*anmeldelser*/
.anmeldesler {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.anmeldcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--smallpadding);
    align-items: stretch;
}

.anmeldcard,
.anmeldcardno {
    background-color: var(--grey);
    border-radius: var(--border-radius);
    box-shadow: var(--dropshadow);
    padding: var(--smallpadding);
    gap: var(--smallpadding);
}

.anmeldcard p,
.anmeldcardno p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#arrow {
    display: none;
}

#anmeldtext {
    width: fit-content;
}

#anmeldnavn {
    text-align: right;
}

#anmeldnavn p {
    color: var(--lightorange);
}

#stars{
    white-space: nowrap;
}

/*kontakt*/
.kontaktgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--smallpadding);
    row-gap: var(--smallpadding);
    width: 100%;
}

.kontaktsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#besked {
    grid-column: 2/3;
    grid-row: 1/4;
    line-height: 1.4;
}

input,
textarea {
    background-color: var(--white);
    color: var(--black);
    border-radius: 25px;
    padding: var(--smallpadding);
    border: 2px solid var(--black);
    box-shadow: var(--dropshadow);
}

/*kalender*/
.kontaktsectionpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(fotos/kontakt-wires.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.calendarpadding {
    background-image: linear-gradient(to bottom, #132024, #1C262A);
}

.calendar {
    display: flex;
    padding: var(--smallpadding) var(--smallpadding);
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--smallpadding);
    flex: 1 0 0;
    background-color: #232D31;
    border-radius: var(--border-radius);
}

#month img {
    width: 38.557px;
    height: 53.235px;
}

#month {
    display: flex;
    justify-content: left;
    gap: var(--sidepadding);
    align-items: center;
    width: 90%;
}

#month h3 {
    margin: 0;
}

.weekday {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 0 var(--sidepadding);
}

.weekday p {
    width: 17%;
}

.calendargrid {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 0 var(--sidepadding);
}

.calendargrid div {
    background-color: var(--grey);
    border-radius: var(--border-radius);
    width: 17%;
    height: 10vw;
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    padding: var(--toppadding) var(--sidepadding);
}

.footer p {
    margin-bottom: 40px;
}

.footerimg {
    display: flex;
    gap: var(--gap);
}

.some img {
    width: 75px;
    height: 75px;
}

/*andre sider */
.ydelser-page-text {
    display: flex;
    flex-direction: column;
}

.fokusområde,
.mine-priser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.priser-table {
    padding: var(--smallpadding);
}

/*pris*/
#prispakker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pakker,
#round,
#corners {
    border: 1px solid #FFF7ED;
    width: 100%;
    text-align: center;
}

#round {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#corners {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@media screen and (max-width: 1024px) {
    .hero {
        background-image: url(fotos/ipad-hero.png);
    }

    .popup {
        left: 12%;
        width: 75%;
    }

    .popup-close-btn {
        width: 35px;
        height: 35px;
    }

    #white-logo {
        height: 10vh;
    }

    .ydelser {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }

    .ydelser-card {
        width: 100%;
        max-width: 400px;
    }

    #month img {
        width: 19.871px;
        height: 30.076px;
    }

    .mine-ydelser {
        align-items: center;
        gap: var(--smallpadding);
    }
}

@media screen and (max-width: 780px) {
    #page-top {
        margin-top: 20vh;
    }
    .om-mig-page,
    .ydelser-page,
    #luftpumpe-page {
        flex-direction: column;
    }

    #navbar {
        display: none;
    }

    #dropdown-menu {
        display: block;
    }

    .hero {
        background-image: url(fotos/mobile-hero.png);
    }
    
    .under-om-mig {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .om-mig-text {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .om-mig-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .om-mig-2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .om-mig-1,
    .om-mig-2 {
        height: 200px;
        width: 100%;
        display: block;
    }
    .om-mig-1 {
        height: 350px;
    }
    

    .luftpumpe-content {
        flex-direction: column;
    }

    .service-cards {
        flex-direction: column;
    }

    .luftpumpe-text,
    #luftpumpe-img,
    .picture-om-mig,
    #work-image {
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .some img {
        width: 50px;
        height: 50px;
    }

    .kontaktgrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: var(--smallpadding);
        row-gap: var(--smallpadding);
        width: 100%;
    }

    #besked {
        grid-column: 1/2;
        grid-row: 4/7;
    }

    #arrow {
        display: block;
        width: 25.977px;
        height: 35.016px;
    }

    .anmdelarrow {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .anmeldcardno {
        display: none;
    }

    .anmeldcards {
        display: flex;
    }

    .anmeldcard {
        align-items: center;
        width: 75%;
    }

    .weekday p,
    .calendargrid p {
        font-size: 8px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--grey);
        border-radius: var(--border-radius);
        box-shadow: var(--dropshadow);
        z-index: 1;
        width: 15vw;
    }

    .calendargrid div,
    .dropdown-content {
        border-radius: 5px;
    }
}